<div class="alert alert-success" role="alert">
    <h4 class="alert-heading">Well done!</h4>
    <p class="mb-0">Your Booking successfully done with the following details...</p>
</div>
<div>
        <h1>Summary details:</h1>
        <table class="table">
                    <tbody>
                            <tr>
                                <td>bookedId</td>
                                <td>{{bookedId}}</td>                            
                            </tr>
                            <tr>
                                    <td>bookedDate</td>
                                    <td>{{bookedDate}}</td>  
                            </tr>
                            <tr>
                                    <td>bookedTime</td>
                                    <td>{{bookedTime}}</td>  
                            </tr>
                            <tr>
                                    <td>doctorName</td>
                                    <td>{{doctorName}}</td>  
                            </tr>
                            <tr>
                                    <td>bookedDate</td>
                                    <td>{{bookedDate}}</td>  
                            </tr>
                            <tr>
                                    <td>treatmentType</td>
                                    <td>{{treatmentType}}</td>  
                            </tr>
                            <tr>
                                    <td>purpose</td>
                                    <td>{{purpose}}</td>  
                            </tr>
                            <tr>
                                    <td>patientId</td>
                                    <td>{{patientId}}</td>  
                            </tr>
                            <tr>
                                    <td>doctorId</td>
                                    <td>{{doctorId}}</td>  
                            </tr>
                        </tbody>
            </table>
</div>
    
