<p class="h2 mb-4 text-center">About Us</p>
<p>
    We are one of India’s leading providers of comprehensive,
    seamless and integrated world class healthcare services.
    With a network of 14 hospitals, we offer treatment across all 29 specialties. We have 2300+ leading doctors with
    international level expertise who are committed to provide highest standards of medical excellence at a fraction of
    international costs. Our NABH and ISO accredited hospitals offer best in class services to our patients. We
    understand seeking medical treatment outside your home can be physically and mentally difficult. So at Max, we are
    eager to get you home!
</p>

<p class="h2 mb-4 text-center">Our Vision</p>
<p>
    Our passion well reflects in the fact that we set the industry standards when it comes to cure, care and comfort. To
    deliver International Class healthcare with a total service focus, by creating an institution committed to the
    highest standards of medical & service excellence, patient care, scientific knowledge and medical education.
</p>