<p class="h2 mb-4 text-center">Patient Appointment Details</p>

<div *ngIf="alert" class="alert alert-success alert-dismissible fade show" role="alert">
        <strong>Success!</strong> Your data has been updated successfully...
        <button (click)="closeAlert()" type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    
<form [formGroup]="editBooking">
    <div class="form-group row">
        <label for="text1" class="col-4 col-form-label">BookedDate:</label>
        <div class="col-8">
            <input type="text" formControlName="bookedDate" readonly class="form-control">
        </div>
    </div>
    <div class="form-group row">
        <label for="text1" class="col-4 col-form-label">bookedTime:</label>
        <div class="col-8">
            <input type="text" formControlName="bookedTime" readonly class="form-control">
        </div>
    </div>
    <div class="form-group row">
        <label for="text1" class="col-4 col-form-label">doctorName:</label>
        <div class="col-8">
            <input type="text" formControlName="doctorName" readonly class="form-control">
        </div>
    </div>
    <div class="form-group row">
        <label for="text1" class="col-4 col-form-label">doctorId:</label>
        <div class="col-8">
            <input type="text" formControlName="doctorId" readonly class="form-control">
        </div>
    </div>
    <div class="form-group row">
        <label for="text1" class="col-4 col-form-label">treatmentType:</label>
        <div class="col-8">
            <input type="text" formControlName="treatmentType" readonly class="form-control">
        </div>
    </div>
    <div class="form-group row">
        <label for="text1" class="col-4 col-form-label">purpose:</label>
        <div class="col-8">
            <input type="text" formControlName="purpose" readonly class="form-control">
        </div>
    </div>
    <div class="form-group row">
        <label for="text1" class="col-4 col-form-label">patientId:</label>
        <div class="col-8">
            <input type="text" formControlName="patientId" readonly class="form-control">
        </div>
    </div>
    <div class="form-group row">
        <label for="text1" class="col-4 col-form-label">Doctor Prescription:</label>
        <div class="col-8">
            <textarea type="text" formControlName="prescription" class="md-textarea form-control" mdbInput></textarea>
        </div>
    </div>
</form>

<div class="form-group row">
    <label class="col-4">Is Treatment Done?</label>
    <label for="text1" class="col-1 col-form-label" (click)="collectTreatmentDonetFlag('COMPLETED')">
        <input type="radio" value="COMPLETED" name="treatmentDonetFlag" [ngModel]="treatmentDonetFlagForRadio">
        &nbsp;<span>Yes</span>
    </label>
    &nbsp;&nbsp;&nbsp;&nbsp;
    <label for="text1" class="col-1 col-form-label" (click)="collectTreatmentDonetFlag('NOT_COMPLETED')">
        <input type="radio" value="NOT_COMPLETED" name="treatmentDonetFlag" [ngModel]="treatmentDonetFlagForRadio">
        &nbsp;<span>No</span>
    </label>
</div>


<div class="form-group row">
    <div class="offset-4 col-8">
        <button name="update" [disabled]="disableUpdateButton" class="btn btn-primary"
            (click)="collectEditedBookingDetails()">Update</button>
        &nbsp;&nbsp;&nbsp;
        <button name="cancel" class="btn btn-primary" (click)="handleCancel()">Cancel</button>
    </div>
</div>