<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

<form>
    <p class="h2 mb-4 text-center">View Appointments</p>
    <div class="form-group row">
        <label for="text" class="col-2 col-form-label">Select Date</label>
        <div class="col-8">
            <div class="input-group">
                <div class="input-group-prepend">
                    <div class="input-group-text">
                        <i class="fa fa-calendar-check-o"></i>
                    </div>
                </div>
                <!-- <input class="form-control" placeholder="yyyy-mm-dd" name="" ngbDatepicker #d="ngbDatepicker"> -->
                <input type="text" ngbDatepicker name="selectedDatePicker" [(ngModel)]="selectedDatePicker"
                    #d="ngbDatepicker" />
                <button class="btn btn-primary" (click)="d.toggle()">Pick Date</button>
                &nbsp;&nbsp;&nbsp;&nbsp;
                <button class="btn btn-info" (click)="showDetails()">View</button>
                <!-- <button (click)="searchRegId(inputRegistrationId)">Search</button> -->
            </div>
        </div>
    </div>

    <div *ngIf="alert" class="alert alert-heading alert-dismissible fade show" role="alert">
        <strong>Success!</strong> Booking removed successfully.
        <button (click)="closeAlert()" type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>

    <div *ngIf="appointmentDetails?.length">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Time Slot</th>
                    <th scope="col">Patient Id</th>
                    <th scope="col">Patient Name</th>
                    <th scope="col">Doctor Name</th>
                    <th scope="col">Treatment Type</th>
                    <th scope="col">Treatment For</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let x of appointmentDetails;">
                    <td>{{x.bookedTime}}</td>
                    <td>{{x.patientId}}</td>
                    <td>{{x.patientName}}</td>
                    <td>{{x.doctorName}}</td>
                    <td>{{x.treatmentType}}</td>
                    <td>{{x.purpose}}</td>
                    <td>
                        <div *ngIf="x.isTreatmentCompleted==='no' else elseBlock">
                            <i (click)="cancelAppointment(x.id)" class="fa fa-trash"
                                style="font-size:20px;color:red;"></i>
                            &nbsp;&nbsp;&nbsp;<i routerLink="/editAppointment/{{x.id}}" class="fa fa-edit"
                                style="font-size:20px;color:green;"></i>
                        </div>
                        <ng-template #elseBlock>Treatement Completed</ng-template>

                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="!appointmentDetails?.length">
        <div class="alert alert-failed" role="alert">
            <h4 class="alert-heading">No Bookings found !!!</h4>
            <p class="mb-0">Please try by selecting different date...</p>
        </div>
    </div>
</form>