<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <!-- Brand -->
  <a class="navbar-brand" href="#">HMS</a>

  <!-- Links -->
  <ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link {{isLoginNavEnable}}" routerLink="">Login</a>
    </li>
    <li class="nav-item">
      <a class="nav-link {{isRegistrationTabEnable}}" routerLink="register">Registration</a>
    </li>

    <!-- Dropdown -->
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle {{isNavEnable}}" href="#" (click)="handleMenuClickEvent()" id="navbardrop"
        data-toggle="dropdown">
        <!-- <a class="nav-link dropdown-toggle " href="#" id="navbardrop" data-toggle="dropdown"> -->
        Reports
      </a>
      <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
        <div *ngIf="loginedUserRole === adminRoleType">
          <a class="dropdown-item" routerLink="bookingHistory">Booking History</a>
          <a class="dropdown-item" routerLink="patientsReport">Patients Details</a>
          <a class="dropdown-item" routerLink="doctorsReport">Doctors Details</a>
        </div>
        <div *ngIf="loginedUserRole === doctorRoleType">
          <a class="dropdown-item" routerLink="doctorsReport">Doctors Details</a>
        </div>
        <div *ngIf="loginedUserRole === patientRoleType">
          <a class="dropdown-item" routerLink="doctorsReport">Doctors Details</a>
          <a class="dropdown-item" routerLink="patientsReport">Patients Details</a>
        </div>
      </div>
    </li>
    <li class="nav-item">
      <a class="nav-link {{isNavEnable}}" routerLink="booking">Book Appointment</a>
    </li>
    <li class="nav-item">
      <a class="nav-link {{isNavEnable}}" routerLink="viewAppointment">View Appointments</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="contactus">Contanct Us</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="aboutus">About Us</a>
    </li>
    <li class="nav-item">
      <a class="nav-link {{isNavEnable}}" routerLink="logout" (click)="logout()">Logout</a>
    </li>
  </ul>
</nav>
<div class="container">
  <router-outlet></router-outlet>
</div>