<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

<form>
    <p class="h2 mb-4 text-center">Book Appointment</p>
    <div class="form-group row">
        <label for="text" class="col-4 col-form-label">Select Date</label>
        <div class="col-8">
            <div class="input-group">
                <div class="input-group-prepend">
                    <div class="input-group-text">
                        <i class="fa fa-address-card"></i>
                    </div>
                </div>
                <!-- <input class="form-control" placeholder="yyyy-mm-dd" name="" ngbDatepicker #d="ngbDatepicker"> -->
                <input type="text" ngbDatepicker name="selectedDatePicker" [(ngModel)]="selectedDatePicker"
                    #d="ngbDatepicker" />
                <button class="btn btn-primary" (click)="d.toggle()">Pick Date</button>

                <!-- <button (click)="searchRegId(inputRegistrationId)">Search</button> -->
            </div>
        </div>

        <label for="text" class="col-4 col-form-label">Enter Registration Id</label>
        <div class="col-8">
            <div class="input-group">
                <div class="input-group-prepend">
                    <div class="input-group-text">
                        <i class="fa fa-address-card"></i>
                    </div>
                </div>
                <input id="text" name="text" type="text" [readonly]="setReadyOnlyFlag" placeholder="Patient Id" class="form-control" [(ngModel)]="inputRegistrationId">
                <button class="btn btn-info" (click)="searchRegId(inputRegistrationId)">Search</button>
            </div>
        </div>
    </div>
    <div>
        <table class="table table-bordered">
            <thead>
                <tr class="table-primary">
                    <th scope="col">PatientId</th>
                    <th scope="col">PatientName</th>
                    <th scope="col">Existing Diseases</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{patientId}}</td>
                    <td>{{patitentName}}</td>
                    <td>{{existingDiseases}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="form-group row">
        <label for="select" class="col-4 col-form-label">Type of Treatment</label>
        <div class="col-8">
            <select id="select" name="select" (change)="handleSelectEvent1($event.target.value)" class="custom-select">
                <option value="">select</option>
                <option value="generalPhysician">General Physician</option>
                <option value="dental">Dental</option>
                <option value="ent">ENT</option>
                <option value="eyeSpecialist">Eye Specialist</option>
            </select>
        </div>
    </div>
    <div>
        <table class="table table-bordered">
            <thead>
                <tr class="table-info">
                    <th scope="col">#</th>
                    <th scope="col">Dr.Name</th>
                    <th scope="col">Available Slots</th>
                    <th scope="col">Status</th>
                    <th scope="col">Treatment For</th>
                    <th scope="col">Select</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let x of tabletContent;">
                    <td>{{x.doctorId}}</td>
                    <td>{{x.doctorName}}</td>
                    <td>
                        <select name="timeslot_{{x.doctorId}}" [(ngModel)]="selectedTimeSlot[x.index]">
                            <option *ngFor="let m of x.timeslot" [ngValue]="m">{{m}}</option>
                        </select>
                    </td>
                    <td>{{x.status}}</td>
                    <td><textarea id="textarea" name="textarea" cols="40" rows="5" class="form-control" [(ngModel)]="bookedTreatmentPurpose[x.index]"></textarea></td>
                    <td><button name="submit" type="submit" class="btn btn-primary" (click)="bookingSlot(x)">Book</button></td>
                </tr>
            </tbody>
        </table>

    </div>
    <!-- <div class="form-group row">
        <div class="offset-4 col-8">
            <button name="submit" type="submit" class="btn btn-primary">Book</button>
        </div>
    </div> -->
</form>

<!-- name="timeslot_{{x.doctorId}}" id="timeslot_{{x.doctorId}}" -->